.body_margin_15{
    max-width: 85%;
}

.grid_30_70{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 30% 70%;
}

.grid_25_75{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 25% 75%;
}
.grid_20_80{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 20% 80%;
}

.header_text{
    color: #6B7A6B;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 61px;
    margin-bottom: 40px;
    margin-top: 60px;

}