.list_container{
    background: #F3FBF4;
    box-shadow: 0px 4px 8px -5px #8A9E8A;
    border-radius: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    padding: 10px 20px;
    max-height: 100px;
    margin-bottom: 30px;
}

.avatar_wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
}
.avatar_wrapper span span{
    height: 100%;
}
.avatar_wrapper img{
  
}

.title{
 color: #8B9C8B;
 font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
line-height: 33px;
margin-bottom: 0.3rem;

}